<div class="login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

        <div>
          <label for="id">
            Username
          </label>
          <mat-form-field>
             <input matInput id="id" type="text" formControlName="id" placeholder="username">
          </mat-form-field>
        </div>
      
        <div>
          <label for="password">
            Password
          </label>
          <mat-form-field>
     
          <input  matInput id="password" type="password" formControlName="password" placeholder="passsword">
        </mat-form-field>
      
        </div>
      
        <button class="button" type="submit"  mat-raised-button>Login</button>

        <p>
            {{error}}
        </p>
      
      </form>
</div>