<div class="productos">
    <table >
        <thead>
                <tr>
                        <th>Nombre</th>
                        <th>Marca</th> 
                        <th>Precio</th>
                      </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of productos" app-producto-item  [producto]="item">
                </tr>
                
               </tbody>
    </table>

    <a [routerLink]="" (click)="closeSession()">Cerrar sesion</a>
</div>